@page
@using DimDock.LinuxArchive.Pages;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="aboutMe smallText" style="white-space:pre-line;">
    <center>
        <img src="@Configuration.GetSection("AppConfig")["Subdirectory"]/img/cm2.png" style="align-self:center; width:100px;" />
    </center>
    <hr />
    <b>This site is here mainly to host my sketches, or basically anything that I can't be bothered to post elsewhere.
NSFW content included, so obviously you need to be 18+ to be here.</b>

    <b>You can also find me below, through these following websites (NSFW):</b>

    • <a href="https://twitter.com/z3r0t1m3">Twitter</a>
    • <a href="https://derpibooru.org/profiles/ricy">Derpibooru</a>

    <b>Some of my contact details:</b>

    • Discord: ricy#7434
    • Matrix: <text>@("@")ricy:matrix.org</text>
    <hr />
    <b>Do you take requests?</b>
    If you catch me <a href="https://boards.4channel.org/mlp/stallion">here</a> at the right time, maybe. Otherwise, no.

    <b>Do you take commissions?</b>
    Currently no, but I'm considering opening them up in the near-future. Crypto-only, since unfortunately I'm unable to use credit cards/anything fiat-related in my country due to current events.

    <b>Can I use your art as a video thumbnail, fanfic image, etc.?</b>
    Yes, as long as you put credits in the description (preferably with a link to the original image, if available).

    There's nothing stopping you from not doing this, but it'll make people's lives easier if there's one less step involved in finding a certain image.

    <b>If you want to use something commercially/for charity.</b>
    Contact me and we might be able to work something out.
    <hr />
    Sharing my art is fine, Facebook, VK, Reddit, etc. please link the source if possible, and tag appropriately.

    If you're sharing to Twitter please @@ or tag me.

    You can finish/color my sketches if you want, but please also link the source, tag appropriately, and indicate that your work is an edit.
    <hr />
    <b>If you want to send me money for some reason, and:</b>
    • You're not seeking anything in return.
    • Have more money that you know what to do with.
    You can donate to my crypto wallet here (fiat isn't an option for me atm, due to current events):

    Ethereum: 0xB7AaAe7E41a4a98E3c7480824585Ea990047Ae29
    <hr />
    <a href="https://github.com/DimFann/DimDock">DimDock by Dimfann</a>
    <a href="https://github.com/ricyhors/DimDock">Minor modifications</a> by ricy
</div>
