@page
@using DimDock.LinuxArchive.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="aboutMe smallText" style="white-space:pre-line">
    <div class="markdown" id="aboutMeMarkdown">
    </div>
</div>

<script src="/npm/marked/marked.min.js"></script>
<script src="/npm/dompurify/purify.min.js"></script>
<script>
    document.getElementById('aboutMeMarkdown').innerHTML =
        DOMPurify.sanitize(marked.parse(@Html.Raw(Json.Serialize(Model.AboutMe))));
</script>