@page
@using DimDock.LinuxArchive.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="aboutMe smallText" style="white-space:pre-line;">
    <center>
        <img src="~/img/boi.jpg" style="align-self:center; width:100px;" />
    </center>
    <hr />
    <b>If you want to reach me, or see my art, Twitter is a good place.</b>

    • <a href="https://twitter.com/DimFann">Twitter</a>
    • <a href="https://twitter.com/difasesa">Twitter (NSFW)</a>

    <b>Some other socials for fun.</b>

    • <a href="https://www.pillowfort.social/DimFann">PillowFort (SFW/NSFW)</a>
    • <a href="https://www.deviantart.com/dimfann">DeviantArt</a>
    • <a href="https://www.youtube.com/channel/UC4tQrzgh_txB2SWzjuJ0OpQ">Youtube</a>
    • <a href="https://dimfann.tumblr.com/">Tumblr (Dead)</a>
    <hr />
    <b>Do you take requests?</b>
    No.

    <b>Do you take commissions? How much are they, will you draw x?</b>
    Sometimes, If you're serious and can wait potentially months contact me.

    Depends, and depends. Try asking.

    <b>If you want to use my art as a video thumbnail, fanfic image, in a video game mod, etc.</b>
    Yes, you may. As long as it is freely accessible/available.
    Tell me about what you used it for, I'd love to see.

    <b>If you want to use something commercially/for charity.</b>
    Please contact me.
    <hr />
    Sharing my art is fine, Facebook, VK, Reddit, etc. please link the source if possible, and tag appropriately.

    If you're sharing to Twitter please @@ or tag me.

    You can finish/color my sketches if you want, but please also link the source, tag appropriately, and indicate that your work is an edit.
    <hr />
    <b>If you want to send me money for some reason, and:</b>
    • You're not seeking anything in return.
    • Have more money that you know what to do with.

    <a href="https://ko-fi.com/dimfann">Ko-Fi</a>
</div>
